
.carousel-inner{
    height: 650px;
}

.img-of{
    margin-left: 20px;
}

.navbar-nav{
    text-align: center;
}

.carousel-inner img {
    height: 600px;
}


.oferta{
    text-align: center;

}

.card-body{
    margin: auto;
    

}
.card-body img{
    
    height: 250px;
    
}

.card-title{
    text-align: center;
}

.col-sm-7 p{
    text-align: justify;
    align-items: center;
    padding: 50px;
}

.col-sm-5 img{
    margin-left: 20px;
    
}

.card-body img{

  
    width: "200px";
    
    border-radius: 30px;

    
}

.card{
    border-radius:30px;
}



.col-sm-4 img{
    height: 250px;
    border-radius:30px;
}

.card-title a{
    text-decoration: none;
    color: black;
 
}

.correct{
    height: 382px;
}

.card-body img{
    cursor: pointer;
    box-shadow: 0px 15px 23px;

}

.card-body a:visited{
    color: black;
}

.card:hover{
    transform: scale(1.1);
    transition-duration: 1.4s;
    z-index: 5;

}

.card-title a:hover{
    color: #76BF2C;

}