.carousel-inner{
    height: 650px;
}

.img-of{
    margin-left: 20px;
}

.navbar-nav{
    text-align: center;
}

.carousel-inner img {
    height: 600px;
}


.oferta{
    text-align: center;

}

.card-body{
    margin: auto;
    

}
.card-body img{
    width: 350px;
    height: 300px;
    
}

.card-title{
    text-align: center;
}

.col-sm-7 p{
    text-align: justify;
    align-items: center;
    padding: 50px;
}

.col-sm-5 img{
    margin-left: 20px;
    
}

.card-body img{

    height:"280px";
    
    border-radius: 30px;

    
}