.inicio
{
    background-color: linear-gradient(90deg, #d8ff38 0, #bdff3d 12.5%, #9bff3f 25%, #6fff40 37.5%, #1ef33e 50%, #00e640 62.5%, #00db47 75%, #00d353 87.5%, #00cf62 100%);
    border-radius: 30px;
}
.h2{
    text-align: center;   
}
.datos{
    text-align:none;
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
}
.datos :hover{
    color: #44B84E;
    transform: scale(1.1);
}
